<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de alumnos</h1>
    <p>Nombre: <span th:text="${alumno.nombre +  ' ' + alumno.apellidos}"></span></p>
    <p>Curso: <span th:text="${alumno.curso.nombre}"></span></p>
	<a th:href="@{/alumno/}">Volver al listado</a>
</body>
</html>