<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de alumnos</h1>
    <form method="GET" th:action="@{/alumno/buscar}">
    	<input type="text" placeholder="Nombre del alumno"
    		name="nombre" id="nombre" th:value="${param.nombre}" />
    	<input type="submit" value="Enviar" />
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="alumno : ${lista}">
                <td><a th:href="@{/alumno/detalle/{id}(id=${alumno.id})}"><span th:text="${alumno.id}"></span></a></td>
                <td th:text="${alumno.nombre}">Nombre</td>
                <td th:text="${alumno.apellidos}">Apellidos</td>
            </tr>
        </tbody>
    </table>

</body>
</html>